<a href="https://colab.research.google.com/github/honey-python-world/Pandas-/blob/main/Different_Ways_Of_Creating_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

In [6]:
df=pd.read_csv("/content/drive/MyDrive/Pandas/weather_data.csv")

In [4]:
df

                                                                                 {
    'day': ['1/1/2017' '1/2/2017' '1/3/2017' '1/4/2017' '1/5/2017' '1/6/2017'] NaN
    'temperature': [32 35         28         24         32         31]         NaN
    'windspeed': [6    7          2          7          4          2]          NaN
    'event': ['Rain'    'Sunny'    'Snow'    'Snow'     'Rain'      'Sunny']   NaN
}                      NaN        NaN        NaN        NaN        NaN         NaN

                                                                                 {
    'day': ['1/1/2017' '1/2/2017' '1/3/2017' '1/4/2017' '1/5/2017' '1/6/2017'] NaN
    'temperature': [32 35         28         24         32         31]         NaN
    'windspeed': [6    7          2          7          4          2]          NaN
    'event': ['Rain'    'Sunny'    'Snow'    'Snow'     'Rain'      'Sunny']   NaN
}                      NaN        NaN        NaN        NaN        NaN         NaN

In [ ]:
df1=pd.read_excel("")

In [8]:
#loading python dictionary
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df2=pd.DataFrame(weather_data)

In [9]:
df2

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

# #using tuples list

In [12]:
weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]

df=pd.DataFrame(weather_data,columns=["Day","Temperature","Windspeed","Event"])
df

        Day  Temperature  Windspeed  Event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

## Using list of dictionaries

In [13]:
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
    
]
df=pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow