In [104]:
import pandas as pd

In [105]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}

In [106]:
df=pd.DataFrame(weather_data)

In [107]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [108]:
df.shape

(6, 4)

In [109]:
row,columns =df.shape

In [110]:
row

6

In [111]:
columns

4

In [112]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [113]:
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [114]:
df.head(1)

        day  temperature  windspeed event
0  1/1/2017           32          6  Rain

In [115]:
df.head(1)

        day  temperature  windspeed event
0  1/1/2017           32          6  Rain

# Using indexing and slicing in the Data frame

In [116]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [117]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [118]:
 df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [119]:
#or
df["event"]#df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [120]:
type(df["event"])

pandas.core.series.Series

## Printing particular colums in  the data frane

In [121]:
df[["event","day","temperature"]]

   event       day  temperature
0   Rain  1/1/2017           32
1  Sunny  1/2/2017           35
2   Snow  1/3/2017           28
3   Snow  1/4/2017           24
4   Rain  1/5/2017           32
5  Sunny  1/6/2017           31

# Operations in the Data frame

In [122]:
df["temperature"].max()

35

# Use Mean or avg

In [123]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [124]:
df[df.temperature>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [125]:
df[df.temperature==df["temperature"].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [126]:
df[["day","temperature"]][df.temperature==df["temperature"].max()]

        day  temperature
1  1/2/2017           35

Use set_index()

In [127]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [128]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [129]:
df.set_index("day")

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [131]:

df.set_index("day", inplace=True)

In [132]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [137]:
df.loc["1/2/2017"]

temperature       35
windspeed          7
event          Sunny
Name: 1/2/2017, dtype: object

In [140]:
#to reset to orignal
df.reset_index(inplace=True)
df

   index       day  temperature  windspeed  event
0      0  1/1/2017           32          6   Rain
1      1  1/2/2017           35          7  Sunny
2      2  1/3/2017           28          2   Snow
3      3  1/4/2017           24          7   Snow
4      4  1/5/2017           32          4   Rain
5      5  1/6/2017           31          2  Sunny

In [141]:
df.set_index("event",inplace=True)

In [142]:
df

       index       day  temperature  windspeed
event
Rain       0  1/1/2017           32          6
Sunny      1  1/2/2017           35          7
Snow       2  1/3/2017           28          2
Snow       3  1/4/2017           24          7
Rain       4  1/5/2017           32          4
Sunny      5  1/6/2017           31          2

In [143]:
df.loc["Snow"]

       index       day  temperature  windspeed
event
Snow       2  1/3/2017           28          2
Snow       3  1/4/2017           24          7